amqp==5.0.2
asyncio-redis==0.16.0
billiard==3.6.3.0
broadcaster==0.2.0
celery==5.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
fastapi==0.62.0
h11==0.11.0
httptools==0.1.1
kombu==5.0.2
prompt-toolkit==3.0.8
pydantic==1.7.3
python-dotenv==0.15.0
pytz==2020.4
PyYAML==5.3.1
redis==3.5.3
six==1.15.0
starlette==0.13.6
uvicorn==0.13.0
uvloop==0.14.0
vine==5.0.0
watchgod==0.6
wcwidth==0.2.5
websockets==8.1
